#content_grap
  .exe_x
    .labels

      -t=(@max-@min)/10
      -(0..9).each do |c|
        .item
          .bar_grid
            .name_grid
              -if c==0
                F.Berrios
              -if c==1
                Conflictos
              -if c==2
                Rechazo L.
              -if c==3
                Matrimonio
              -if c==4
                Hidroaysén
              -if c==5
                Regionalización

          %span.hour
            ="#{Time.at(@min+(t*c)).hour}:#{"%02d" % Time.at(@min+(t*c)).min}"

  .exe_y
  .candidates


    -(0..6).each do |c|
      .grid
        -if c==0
          .name
            ="Longueira"
        -if c==1
          .name
            ="Allamand"
        -if c==2
          .name
            ="Gomez"
        -if c==3
          .name
            ="Orrego"
        -if c==4
          .name
            ="Velasco"
        -if c==5
          .name
            ="Bachelet"

  -@groups.each do |key, group|
    -t = group.first
    -unless t.nil?
      -time = t.created_at.to_i
      -left = (@a*time+@b).to_i
      -bottom=0
      -if t.candidate== "bachelet"
        -bottom = @bachelet
      -if t.candidate== "velasco"
        -bottom = @velasco
      -if t.candidate== "orrego"
        -bottom = @orrego
      -if t.candidate== "gomez"
        -bottom = @gomez
      -if t.candidate== "allamand"
        -bottom = @allamand
      -if t.candidate== "longueira"
        -bottom = @longueira
        -if t.positive
          -awesome_print group
      -color = t.positive ? "positive" : "negative"
      -width= (@ga*group.count+@gb).to_i

      .circle{style: "left: #{left}px; bottom: #{bottom}px; width:#{width}px;height:#{width}px", class: color}
=image_tag 'manitos.png', class: "manitos"




